.emoji-selector {
    position: absolute;
    border-radius: 2px;
    background: rgb(255, 255, 255);

    /* Appear over everything else */
    z-index: 1000;

    /* Scroll Y only if necessary */
    overflow-y: auto;

    /* Material design drop shadow */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.emoji-search-box {
    /* Div sizing */
    padding: 10px;
    width: 100%;
    box-sizing: border-box; /* https://www.w3schools.com/css/css3_box-sizing.asp */

    /* Div coloring */
    border: none;
    background: darkgrey;
    outline: none; /* Don't highlight border when selected */

    /* Text */
    color: white;
    font-family: "Lucida Sans Unicode", sans-serif;
    font-weight: bold;
}

.emoji-grid {
    /*Fixed sized cells - don't break if an emoji renders wider than others */
    table-layout: fixed;
    padding: 10px;
}

.emoji-grid td {
    /* Center the emojis inside their cells */
    text-align: center;
    padding: 7px;
}

.emoji-grid td:hover {
    background-color: #EEEEEE;
    cursor: pointer;
}