.emoji-selector {
    position: absolute;
    border: 1px solid rgb(51, 102, 153);
    padding: 10px;
    background-color: rgb(255, 255, 255);
    z-index: 1000;
    overflow-y: auto;
    text-align: center;
}

.emoji-grid {
    /*Fixed sized cells - don't break if an emoji renders wider than others */
    table-layout: fixed;
}